* {
    all: unset
}

.bar {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid #7FFF7F;
    color: #7FFF7F;
    font: 30px FantasqueSansM Nerd Font;
}

.focused {
    background-color: #7FFF7F;
    color: #000
}

